# Compiled source #
###################
*.class

# Intermediate files #
###################
*.classpath
*.filelist
*.manifest
*.csproj.user

# Support files #
###################
launchSettings.json

###############
#    folder   #
###############
/**/.vs/
/**/.idea/
/**/target/
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/MASES.KNetPS/
/**/obj/
/**/jars/
_site
/**/.AssemblyAttributes
